@import "../../styles/vars";

.header {
  &__nav {
    @include flex-list;
    padding: 14px 0;
  }
  &__contacts {
    @include flex-list;
  }
  &__address {
    margin-right: 40px;
  }
  &__mail,
  &__address {
    @include flex-list;
    svg {
      margin-right: 15px;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 3px;
    }
    span {
      font-size: 12px;
      color: $addition-text-color;
    }
  }
  &__links {
    ul {
      display: flex;
      li {
        margin-left: 60px;
        a {
          color: $addition-text-color;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1065px) {
  .header {
    &__links {
      ul {
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
